.card-content{
    display: flex;
    margin :2px 4px;
    align-items: baseline;
    background: white;
    margin-top: 8px;
box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;

}
.card-content textarea{
    margin-left: 4px;
    width: auto;
    font-size: 19px;
   resize: none;
    border: none;
}
.card-content input{
}
.add-item{
    margin-left: 4px;
    padding: 4px;
    font-size: 20px;
    padding-bottom: 2px;
}
.add-item:hover{
    background: rgba(1, 7, 17, 0.08);
}

.card-symbol{
    width: 32px;
    height: 32px;
    font-size: 18px;
    border-radius: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e74c3c;
    position: relative;
    margin-left: 4px;
}

.card-symbol-char{
}

.card-symbol:before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: inherit;
    background-color: currentColor;
    opacity: 0.1;
}