button{
    cursor: pointer;
}
.form-input{
    border:1px solid #eee !important;
    border-radius: 4px;
    width: 100%;
    height: 28px  !important;
    padding:0 20px;
    transition: 0.25s ease;
}
.form-input:focus{
    border: var(--main-color);
}
.form-field{
    position: relative;
}
.form-label{
    position: absolute;
    top: 50%  !important;
   transform: translate(-50%)  !important;
   left: 21px;
   user-select: none;
   color:#999;
}